body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display {
  height: 1.5rem;
  border: none;
  margin-bottom: 1rem;
}

section {
  height: 2.5rem;
  /* background-color: aqua; */
}

button {
  font-size: large;
  width: 2.5rem;
  height: 2rem;
}
